html, body {
  height: 100vw;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0; 
}

.container {
    width: 100vw; 
    padding: 0;
    box-sizing: border-box;
}
.navbar {
  background-color: #f1f1f1;
  overflow: hidden;
   width: 100%;
   align: span; 
}

.navbar a {
  display: inline-block;
  color: #333;
  text-align: center;
  text-decoration: none;
  width: 33.33%;
  margin: 15px, 15px, 15px, 15px;
}

.navbar-logo {
  float: left;
  height: 50px; 
  padding: 7px; 
}

.navbar a:hover {
  background-color: #ddd;
}

.spacer {
  height: 10px;
}

iframe {
  width: 80vw;
  height: 80vw; 
  border: none;
}

.header-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.iframe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw; 
  height: 80vw;
  margin: 0 auto; 
}

#iframeContainer {
  width: 100%; 
  height: 100%; 
}

.caption {
  margin-top: 10px;
  font-weight: bold;
}

button#toggleButton {
  background-color: #007BFF; 
  border: none;
  color: white;
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; 
  transition-duration: 0.4s; 
}

button#toggleButton:hover {
  background-color: #0069D9; 
  color: white;
}
