html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0; 
}

.container {
    width: 100vw; 
    padding: 0;
    box-sizing: border-box;
}

.textbox {
  margin: 10px;
  width: 50%;
}

.navbar {
  background-color: #f1f1f1;
  overflow: hidden;
   width: 100%;
}

.navbar a {
  display: inline-block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 33.33%;
}

.navbar-logo {
  float: left;
  height: 50px; 
  padding: 7px; 
}

.navbar a:hover {
  background-color: #ddd;
}

.spacer {
  height: 10px;
}

iframe {
  width: 100%;
  height: 100%; 
  border: none;
}

#userInput {
  height: 20px;
}

#outputBox {
  height: 50px;
}

.header-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.iframe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw; 
  height: 80vw;
  margin: 0 auto; 
}

#iframeContainer {
  width: 100%; 
  height: 100%; 
}

.caption {
  margin-top: 10px;
  font-weight: bold;
}

button#toggleButton {
  background-color: #007BFF; 
  border: none;
  color: white;
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; 
  transition-duration: 0.4s; 
}

button#toggleButton:hover {
  background-color: #0069D9; 
  color: white;
}

.article-container {
  font-family: 'Roboto', sans-serif;
  color: #333; 
  line-height: 1.6; 
  text-align: left; 
  background-color: #f9f9f9;
  margin: 20px auto;
  max-width: 800px;
  padding: 0 20px;
}

.article-container h1 {
  text-align: center; 
}

.article-container h2, .article-container h3 {
  color: #555;
}

.article-container p {
  margin: 10px 0; 
}
